@tailwind base;
@tailwind components;
@tailwind utilities;

.choosing {
	@apply mt-10 
	rounded-xl 
	border-2 
	border-[#D9D9D9] 
	bg-[#010440]
	py-2 
	px-5 
	text-center 
	text-2xl 
	hover:border-[#010440] 
	hover:bg-[#D9D9D9] 
	hover:text-[#010440];
}

@font-face {
	font-family: "Courgette";
	src: url("../config/Courgette.ttf");
}

@font-face {
	font-family: "IndieFlower";
	src: url("../config/IndieFlower.ttf");
}
